/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  font-family: 'Noto Sans';
}
.line {
  border-top: 1px solid #EAEFF5;
}
.footer {
  background-color: #252525;
}
.logo {
  cursor: pointer;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}
.logo__name {
  font-size: 33px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .logo__name {
    font-size: 38px;
    letter-spacing: 7px;
  }
}
.logo__slogan {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #A1BBD9;
}
@media (min-width: 1200px) {
  .logo__slogan {
    font-size: 16px;
    letter-spacing: 9px;
  }
}
.navigation {
  position: relative;
  z-index: 1;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  background-color: #38383a;
  box-shadow: 0px 5px 10px 0px #2a496d;
}
@media (min-width: 992px) {
  .navigation {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}
.navigation .navigation__toggle-button--active {
  background-color: #16385f;
}
.navigation .container--mobile--no-padding {
  padding-left: 0px;
  padding-right: 0px;
  min-width: 100%;
}
@media (min-width: 992px) {
  .navigation .container--mobile--no-padding {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 992px;
  }
}
@media (min-width: 1170px) {
  .navigation .container--mobile--no-padding {
    min-width: 1170px;
  }
}
.navigation a {
  display: block;
  padding: 22px 15px;
  text-decoration: none;
  color: #FFF;
}
.navigation a.active,
.navigation a:hover {
  color: #ffcc00;
}
@media (min-width: 992px) {
  .navigation a {
    display: inline;
  }
}
.navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style-type: none;
  display: none;
  background-color: #35577D;
}
@media (min-width: 992px) {
  .navigation ul {
    display: flex!important;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background-color: transparent;
  }
}
.navigation li {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #ffcc00;
  border-bottom: 1px solid #466a92;
}
.navigation li.active {
  color: #ffcc00;
}
@media (min-width: 992px) {
  .navigation li {
    border: none;
  }
}
.navigation__toggle-button {
  padding: 23px 15px;
  position: relative;
  display: block;
  background-color: #38383a;
  cursor: pointer;
}
.navigation__toggle-button:focus,
.navigation__toggle-button:active {
  background-color: #16385f;
}
@media (min-width: 992px) {
  .navigation__toggle-button {
    display: none;
  }
}
.navigation__toggle-icon {
  position: absolute;
  top: 20px;
  right: 15px;
}
.navigation__toggle-icon span {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  background: #fff;
}
.block {
  background-color: yellow;
  padding: 20px;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.slider {
  background-color: #215993;
  padding-top: 30px;
  padding-bottom: 30px;
}
.line {
  border-bottom: 1px solid #ccc;
}
.footer {
  background-color: #414141;
  padding-top: 10px;
  padding-bottom: 10px;
}
