nav.nav
	a(href="#" id="pull") Навигация
		.nav_pull__icon
			span
			span
			span
	ul(id="nav__mobile-list")
		li
			a(href="#") главная
		li
			a(href="#") как-мы-работаем
		li
			a(href="#") фрилансерам
		li
			a(href="#") стартапам
		li
			a(href="#") тарифы
		li
			a(href="#") контакты

