<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		title apollo
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet", href="libs/normalize/normalize.css")
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid.min.css")
		link(rel="stylesheet", href="css/main.css")

	body
		.container
			.row.justify-content-center
				.col-md-6
					.block Логотип
		nav.nav
			.container
				.block Навигация
		.slider
			.container
				.block Слайдер
		.container
			.row.justify-content-center
				.col-md-6
					.block Как мы работаем
			.row
				.col-md-6.col-xl-3
					.block Первый
				.col-md-6.col-xl-3
					.block Второй
				.col-md-6.col-xl-3
					.block Третий
				.col-md-6.col-xl-3
					.block Четвертый
		.line
		.container
			.row
				.col-md-6
					.block Картинка ноутбука
				.col-md-6
					.block Хостинг для фрилансеров
		.line
		.container
			.row
				.col-md-6.order-md-last
					.block Картинка ракета
				.col-md-6
					.block Тариф для стартапов
		.line
		.container
			.row.justify-content-center
				.col-sm-6
					.block Тарифы и пакеты
			.row
				.col-xl-4
					.block Карточка 1
				.col-xl-4
					.block Карточка 1
				.col-xl-4
					.block Карточка 1
		footer.footer
			.container
				.row
					.col-md-4.col-xl-3
						.block Колонка 1
					.col-md-4.col-xl-3
						.block Колонка 2
					.col-md-4.col-xl-3
						.block Колонка 3
				.block Копирайт

