<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		title apollo
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet", href="libs/normalize/normalize.css")
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid.min.css")
		//- Owl-Carousel
		link(rel="stylesheet" href="libs/owlcarousel2/owl.carousel.min.css")
		//- Fonts
		link(rel="stylesheet", href="fonts/noto/noto.css")
		link(rel="stylesheet", href="fonts/notoserif/notoserif.css")
		link(rel="stylesheet", href="fonts/als-rubl/als-rubl.css")
		//- MY STYLES
		link(rel="stylesheet", href="css/main.css")

	body
		//- Logo
		.container
			.row.justify-content-center
				.col-md-6
					.logo.text-center
						.logo__name аполло 404
						.logo__slogan хостинг компания
		//- Navigation
		nav.navigation
			.navigation__toggle-button(id="navigation-toggle") Навигация
				.navigation__toggle-icon
					span
					span
					span
			.container.container--mobile--no-padding
				ul
					li
						a(href="#") главная
					li
						a(href="#") как мы работаем
					li
						a(href="#") фрилансерам
					li
						a(href="#") стартапам
					li
						a(href="#") тарифы
					li
						a(href="#") контакты
		//- Slider
		.slider.text-center
			.container
				.owl-carousel#top-slider
					.row
						.col-sm-8.offset-sm-2.col-lg-6.offset-lg-3
							.d-none.d-md-block
								.slider__title Тариф для фрилансеров и небольших сайтов
								.slider__slogan Разместите свое портфолио и сайты клиентов. Надежные сервера, отзывчивая техподдержка.
							.d-block.d-md-none
								.slider__title Тариф для фрилансеров
								.slider__slogan Надежные сервера, отзывчивая техподдержка.
					.row
						.col-sm-8.offset-sm-2.col-lg-6.offset-lg-3
							.d-none.d-md-block
								.slider__title Нужен хостинг для стартапа?
								.slider__slogan Разместите свое портфолио и сайты клиентов. Надежные сервера, отзывчивая техподдержка.
							.d-block.d-md-none
								.slider__title Хостинг для стартапа
								.slider__slogan Увеличивайте мощности при необходимости.
					.row
						.col-sm-8.offset-sm-2.col-lg-6.offset-lg-3
							.d-none.d-md-block
								.slider__title Надежная площадка для высоконагруженных проектов
								.slider__slogan Супер мощные сервера, мгновенная масштабируемость, гибкая конфигурация. 
							.d-block.d-md-none
								.slider__title Highload площадка
								.slider__slogan Супер мощные сервера, мгновенная масштабируемость. 
		//- Benefits
		.container.section.text-center
			.heading Как мы работаем
			.row
				.col-md-6.col-xl-3.benefit-block
					.benefit-block__img
						div
							img(src="img/images/weather.png" alt="Работаем в любую погоду")
					.benefit-block__header Работаем в любую  погоду
					.benefit-block__descr Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
				.col-md-6.col-xl-3.benefit-block
					.benefit-block__img
						div
							img(src="img/images/graph.png"	alt="Используем нано технологии")
					.benefit-block__header Используем нано технологии
					.benefit-block__descr Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
				.col-md-6.col-xl-3.benefit-block
					.benefit-block__img
						div
							img(src="img/images/flipchart.png" alt="Стандарты качества  по ГОСТу")
					.benefit-block__header Стандарты качества  по ГОСТу
					.benefit-block__descr Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
				.col-md-6.col-xl-3.benefit-block
					.benefit-block__img
						div
							img(src="img/images/presentation.png" alt="Стремительно  развиваемся")
					.benefit-block__header Стремительно  развиваемся
					.benefit-block__descr Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
		.line
		//- Service-Description
		.container.section.section--p-t-70.section--m-p-b-0.service-description
			.row
				.col-md-6
					.service-description__img
						img(src="img/images/notebook.png" alt="Хостинг для фрилансеров")
				.col-md-6
					h2.heading--mb20.heading--number.heading--number-1 Хостинг для фрилансеров
					
					.service-description__content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						
						p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
					a.service-description__button-more
		.line
		.container.section.section--p-t-70.section--m-p-b-0.service-description
			.row
				.col-md-6.order-md-last
					.service-description__img.service-description__img--m-b-25
						img(src="img/images/rocket.png" alt="Хостинг для фрилансеров")
				.col-md-6
					h2.heading--mb20.heading--number.heading--number-2 Тариф для стартапов
					.service-description__content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						
						p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
					a.service-description__button-more
		.line
		.container.section
			.row.justify-content-center.text-center
				.col-sm-6
					h3.heading.heading--mb20 Тарифы и пакеты
					p.subtitle-text Everyone that enters through Him is always safe and the person shall find pastures for himself.
			.row
				.col-md-4
					//- Package card 1
					.package.text-center
						.package__name фриланс
						.package__price 590
						.package__period оплата в месяц
						.package__benefits
							ul
								li 10 GB Disk Space
								li 5 Sub Domains
								li 4 Databases
								li Unlimited Users
						.button Начать

				.col-md-4
					//- Package card 2
					.package.text-center
						.package__name стартап
						.package__price 990
						.package__period оплата в месяц
						.package__benefits
							ul
								li 100 GB Disk Space
								li 100 Sub Domains
								li 100 Databases
								li Unlimited Users
						.button.button--orange попробовать
				.col-md-4
					//- Package card 3
					.package.package--last.text-center
						.package__name highload
						.package__price ~6900
						.package__period оплата в месяц
						.package__benefits
							ul
								li 1000 GB Disk Space
								li ∞ Sub Domains
								li ∞ Databases
								li Unlimited Users
						.button Начать
		footer.footer
			.container
				.row
					.col-md-4.col-xl-3
						.block Колонка 1
					.col-md-4.col-xl-3
						.block Колонка 2
					.col-md-4.col-xl-3
						.block Колонка 3
				.block Копирайт
		script(src="libs/jquery-3.3.1.min.js")
		script(src="libs/owlcarousel2/owl.carousel.min.js")
		//- My script
		script(src="js/main.js")

