<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		title apollo
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet", href="libs/normalize/normalize.css")
		link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid.min.css")
		//- Owl-Carousel
		link(rel="stylesheet" href="libs/owlcarousel2/owl.carousel.min.css")
		//- Fonts
		link(rel="stylesheet", href="fonts/noto/noto.css")
		link(rel="stylesheet", href="fonts/notoserif/notoserif.css")
		link(rel="stylesheet", href="fonts/als-rubl/als-rubl.css")
		//- MY STYLES
		link(rel="stylesheet", href="css/main.css")

	body
		//- Logo
		.container
			.row.justify-content-center
				.col-md-6
					.logo.text-center
						.logo__name аполло 404
						.logo__slogan хостинг компания
		//- Navigation
		nav.navigation
			.navigation__toggle-button(id="navigation-toggle") Навигация
				.navigation__toggle-icon
					span
					span
					span
			.container.container--mobile--no-padding
				ul
					li
						a(href="#") главная
					li
						a(href="#") как мы работаем
					li
						a(href="#") фрилансерам
					li
						a(href="#") стартапам
					li
						a(href="#") тарифы
					li
						a(href="#") контакты
		//- Slider
		.slider.text-center
			.container
				.owl-carousel#top-slider
					.row
						.col-sm-8.offset-sm-2.col-xl-6.offset-xl-3
							.d-none.d-md-block
								.slider__title Тариф для фрилансеров и небольших сайтов
								.slider__slogan Разместите свое портфолио и сайты клиентов. Надежные сервера, отзывчивая техподдержка.
							.d-block.d-md-none
								.slider__title Тариф для фрилансеров
								.slider__slogan Надежные сервера, отзывчивая техподдержка.
					.row
						.col-sm-8.offset-sm-2.col-xl-6.offset-xl-3
							.d-none.d-md-block
								.slider__title Нужен хостинг для стартапа?
								.slider__slogan Разместите свое портфолио и сайты клиентов. Надежные сервера, отзывчивая техподдержка.
							.d-block.d-md-none
								.slider__title Хостинг для стартапа
								.slider__slogan Увеличивайте мощности при необходимости.
					.row
						.col-sm-8.offset-sm-2.col-xl-6.offset-xl-3
							.d-none.d-md-block
								.slider__title Надежная площадка для высоконагруженных проектов
								.slider__slogan Супер мощные сервера, мгновенная масштабируемость, гибкая конфигурация. 
							.d-block.d-md-none
								.slider__title Highload площадка
								.slider__slogan Супер мощные сервера, мгновенная масштабируемость. 
		.container
			.row.justify-content-center
				.col-md-6
					.block Как мы работаем
			.row
				.col-md-6.col-xl-3
					.block Первый
				.col-md-6.col-xl-3
					.block Второй
				.col-md-6.col-xl-3
					.block Третий
				.col-md-6.col-xl-3
					.block Четвертый
		.line
		.container
			.row
				.col-md-6
					.block Картинка ноутбука
				.col-md-6
					.block Хостинг для фрилансеров
		.line
		.container
			.row
				.col-md-6.order-md-last
					.block Картинка ракета
				.col-md-6
					.block Тариф для стартапов
		.line
		.container
			.row.justify-content-center
				.col-sm-6
					.block Тарифы и пакеты
			.row
				.col-xl-4
					.block Карточка 1
				.col-xl-4
					.block Карточка 1
				.col-xl-4
					.block Карточка 1
		footer.footer
			.container
				.row
					.col-md-4.col-xl-3
						.block Колонка 1
					.col-md-4.col-xl-3
						.block Колонка 2
					.col-md-4.col-xl-3
						.block Колонка 3
				.block Копирайт
		script(src="libs/jquery-3.3.1.min.js")
		script(src="libs/owlcarousel2/owl.carousel.min.js")
		//- My script
		script(src="js/main.js")

